<div class="row">
  <div class="col-md-6">
    <h3>Thu Aug 05</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>12:00</td>  <td>Automating Tasks with the Unix Shell</td> </tr>
      <tr> <td>13:45</td>  <td>Break</td> </tr>
      <tr> <td>14:00</td>  <td>Automating Tasks with the Unix Shell (Continued)</td> </tr>
      <tr> <td>15:45</td>  <td> Break</td> </tr>
      <tr> <td>16:00</td>  <td>Automating Tasks with the Unix Shell (Continued)</td> </tr>
      <tr> <td>17:00</td>  <td>End</td> </tr>
    </table>
  </div>
</div>
  <div class="col-md-6">
    <h3>Fri Aug 06-Python Track</h3>
    <table class="table table-striped">
      <tr> <td>08:30</td>  <td>Plotting and Programming in Python</td> </tr>
      <tr> <td>9:45</td>  <td> Break</td> </tr>
      <tr> <td>10:00</td>  <td>Plotting and Programming in Python (Continued)</td> </tr>
      <tr> <td>11:15</td>  <td> Break</td> </tr>
      <tr> <td>11:30</td>  <td>Plotting and Programming in Python (Continued) </td> </tr>
      <tr> <td>12:30</td>  <td> END </td> </tr>
      
      <tr> <td>16:30</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">
      Post-workshop Survey</a></td> </tr>
      <tr> <td>16:40</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="row">
  <div class="col-md-6">
  <h3>Fri Aug 06- R Track</h3>
    <table class="table table-striped">
      <tr> <td>13:00</td>  <td>R for Reproducible Scientific Analysis </td> </tr>
      <tr> <td>14:15</td>  <td>Break</td> </tr>
      <tr> <td>14:30</td>  <td>R for Reproducible Scientific Analysis (Continued)</td> </tr>
      <tr> <td>15:45</td>  <td> Break</td> </tr>
      <tr> <td>16:00</td>  <td>R for Reproducible Scientific Analysis (Continued)</td> </tr>
      <tr> <td>17:00</td>  <td>End</td> </tr>
    </table>
  </div>
</div>
  <div class="col-md-6">
    <h3>Mon Aug 09-Python Track</h3>
    <table class="table table-striped">
      <tr> <td>08:30</td>  <td>Plotting and Programming in Python</td> </tr>
      <tr> <td>9:45</td>  <td> Break</td> </tr>
      <tr> <td>10:00</td>  <td>Plotting and Programming in Python (Continued)</td> </tr>
      <tr> <td>11:15</td>  <td> Break</td> </tr>
      <tr> <td>11:30</td>  <td>Plotting and Programming in Python (Continued) </td> </tr>
      <tr> <td>12:30</td>  <td> END </td> </tr>    
    </table>
  </div>
  <div class="col-md-6">
  <h3>Mon Aug 09- R Track</h3>
    <table class="table table-striped">
      <tr> <td>13:00</td>  <td>R for Reproducible Scientific Analysis </td> </tr>
      <tr> <td>14:15</td>  <td>Break</td> </tr>
      <tr> <td>14:30</td>  <td>R for Reproducible Scientific Analysis (Continued)</td> </tr>
      <tr> <td>15:45</td>  <td> Break</td> </tr>
      <tr> <td>16:00</td>  <td>R for Reproducible Scientific Analysis (Continued)</td> </tr>
      <tr> <td>17:00</td>  <td>End</td> </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Tue Aug 10</h3>
    <table class="table table-striped">
      <tr> <td>13:00</td>  <td>Version Control with Git and Github </td> </tr>
      <tr> <td>14:15</td>  <td>Break</td> </tr>
      <tr> <td>14:30</td>  <td>Version Control with Git and Github (Continued)</td> </tr>
      <tr> <td>15:45</td>  <td> Break</td> </tr>
      <tr> <td>16:00</td>  <td>Open Science </td> </tr>
      <tr> <td>16:50</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">
      Post-workshop Survey</a></td> </tr>
      <tr> <td>17:00</td>  <td>End</td> </tr>
    </table>
  </div>
</div>
